body {
	text-rendering: optimizeLegibility;
}

/* Use with youtube-tag plugin to make video responsive */
.videobox {
	display: block;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videobox iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Basic styling for images that are not in text */
/* Js adds the .img-container */
img {
	max-width: 100%;
}
.img-container img {
	display: block;
	margin: auto;
	max-width: 100%;
}

/* Some links define keywords */
a.def {
	color:inherit;
	border-bottom: 1px dotted #999;
}
a.def:hover {
	color: #0056b3;
	text-decoration: none;
	border-bottom: 1px solid #0056b3;
}

/* I don't like bootstrap blockquotes so here's mine */
blockquote {
	font-style: italic;
	border-left: 1px solid black;
	padding-left: 1em;
}
blockquote.big {
	font-size: 1.25rem;
	text-align: center;
	border-left: 0;
	padding-left: 0;
	font-style: normal;
}

/* Pelican-toc styling for dropdown */
nav .toc ul {
	list-style-type: none;
	padding-left: 1em;
	margin-left: 0;
}
nav .toc li ul {
	list-style-type: disc;
}
nav .toc .dropdown-item {
	padding-left: 0;
}

/* Markdown [TOC] styling */
article .toc {
	background-color: rgba(0,0,0,.02);
	display: block;
	width: fit-content;
	padding: 1em;
	margin-bottom: 1em;
}
article .toc .toctitle {
	line-height: 1.5;
}
article .toc ul {
	margin-bottom: 0;
	list-style-type: decimal;
}
/* Recommendations styling */
.recommendations {
	background-color: rgba(0,0,0,.02);
	padding: 1em;
	border-radius: 5px;
}
.recommendations .title {
	line-height: 1.5;
}
.recommendations li {
	list-style-type: none;
}
.recommendations li .flag-icon {
	width: 1.1em;
	height: 1.1em;
	margin-left: -1.1em;
	margin-right: 0.1em;
	margin-top: -0.1em;
}
/*
article .toc {
	border: 1px solid #e1e4e8;
	border-radius: 5px;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
	width: fit-content;
}
article .toc .toctitle {
	display: block;
	margin-bottom: .5rem;
    font-weight: 500;
	line-height: 1.2;
	font-size: 2rem;
}
article .toc ul li {
	margin-bottom: 1rem;
}
article .toc ul li ul li {
	margin-bottom: 0;
}*/

/* Hightlight styling */
code { 
	color: black;
	background-color: rgba(0,0,0,.02);
}
pre { 
	background-color: rgba(0,0,0,.02);
	border: none;
	border-left: 3px solid rgba(0,0,0,.08);
}
pre code {
	background-color: transparent;
}

/* Update pre style when wrapped in .hll */
.hll pre, .highlight pre {
	margin-bottom: 0;
	border:none;
	background-color: transparent;
	overflow: visible;
}
.hll, .highlight {
	margin-bottom: 1rem;
	padding: 6px 10px;
	border: none;
	border-left: 3px solid rgba(0,0,0,.08); 
	background-color: rgba(0,0,0,.02);
	font-family: Menlo,Monaco,Consolas,Courier New,monospace;
	overflow: auto;
}

td .hll, td .highlight { 
	padding-top: 0;
	margin-bottom: 0;
	border: none;
}

/* Remove margin-bottom and add it to wrapping .hll-title */
.hll-title .hll {
	margin-bottom: 0;
	border: none;
	background-color: transparent;
	overflow: visible;
	padding-top: 0;
}
.hll-title {
	padding: 0;
	padding-top: 6px;
	margin-bottom: 1rem;
	background-color: rgba(0,0,0,.02);
	border: none;
	border-left: 3px solid rgba(0,0,0,.08);
	font-family: Menlo,Monaco,Consolas,Courier New,monospace;
	overflow: auto;
}
.hll-title .filename, .hll-title .terminal {
	font-family: Menlo,Monaco,Consolas,Courier New,monospace;
	font-size: 87.5%;
	padding-left: 10px;
	margin-bottom: .5em;
	display: inline-block;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hll-title .terminal {
	text-transform: capitalize;
}
.hll-title .filename::before {
	content: "file: ";
	text-indent: 1.2em;
	background:url("file_icon.svg");
	background-size: contain;
	display: inline-block;
	/*width: 1em;*/
	background-repeat: no-repeat;
	height: 1em;
	line-height: 1em;
	margin-right: 4px;
	margin-bottom: -1px;
}
.hll-title .terminal::before {
	content: "";
	text-indent: 1.2em;
	background:url("terminal_icon.svg");
	background-size: contain;
	display: inline-block;
	/*width: 1em;*/
	background-repeat: no-repeat;
	height: 1em;
	line-height: 1em;
	margin-right: 4px;
	margin-bottom: -2px;
}
.input_cell::before {
	content: "XX"
}